# JWT Keys (Generate with: openssl genrsa -out private.pem 2048 && openssl rsa -in private.pem -pubout -out public.pem)
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC7VJTUt9Us8cKB
wI1fYj3h4oVY7+Fcke8rOCRNrnDnWhNYS4f+lw2Tuo5X1fI47kKd3LzLg2aPby9
-----END PRIVATE KEY-----

JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAu1SU1LfVLPHCgcCNX2I9
4eKFWO/hXJHvKzgkTa5w51oTWEuH/pcNk7qOV9XyOO5Cndy8y4Nmj28v
-----END PUBLIC KEY-----
